@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Called To Serve Inc.<br />
    Provo, Utah 5654-84601<br />
    <abbr title="Phone">Phone:</abbr>
    435.555.5555
</address>

<address>
    <strong>Contact us at: </strong>   <a href="mailto:Support@example.com">calledtoserve@gmail.com</a><br />
    
</address>