@{
    ViewBag.Title = "CalledToServe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Called To Serve</h2>

<div class="container">

    <div class="row">
        <div class="col-sm-5">

        </div>

        <div class="jumbotron">
            <h4>   Learn More About Your Mission! </h4>

        </div>

        <div class="col-sm-5">

        </div>
    </div>
</div>
