@{
    ViewBag.Title = "CalledToServe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Style/Index.css">
<h1></h1>

<body id="landingContainer">

    <div class="container">

        <div class="row">
            <div class="col-sm-5">

            </div>

            <div class="jumbotron">
                <h4>  Click Here Learn More About Your Mission! </h4>
                <p><a class="btn btn-default" href="@Url.Action("Index", "Missions")">Click Here &raquo;</a></p>
            </div>

            <div class="col-sm-5">

            </div>
        </div>
    </div>
    <br /><br /><br />
    <div class="container">
        <div class="row">
            <div class="col-sm-4"> <img src="~/Images/temple.jpg" /></div>
            <div class="col-sm-4"> <img src="~/Images/badge.jpg" /></div>
            <div class="col-sm-4"> <img src="~/Images/moroni.jpg" /></div>
        </div>
    </div>
</body>