#landingContainer {
   height: 100vh;
   width: 100%;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://i01.i.aliimg.com/wsphoto/v0/1847750447/P0438-World-Map-Poster-Large-Detailed-font-b-Physical-b-font-Map-Of-The-World-font.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

h2{
    color: white;
}

li{
    color:white;
}

p{
    color: white;
}